* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  background: radial-gradient(black 3px, transparent 4px), radial-gradient(#031F4F 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #031F4F 75px, #031F4F 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #031F4F 76px, #031F4F 77px, transparent 78px, transparent 109px), #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.encabezado {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.pie {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5 / 1 / 6 / 3;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 5 / 3;
}

.seccion1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 5 / 2;
}

.seccion2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 5 / 3;
}

.mostrar {
  pointer-events: auto;
  opacity: 1;
}

.grid-container {
  color: #031F4F;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1.4fr 0.6fr;
      grid-template-rows: 1fr 1fr 1fr 1.4fr 0.6fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  font: normal 16px "BIZ UDPMincho", serif;
  width: 90%;
  margin: auto;
}

.grid-container ul {
  list-style: none;
}

.grid-container ul a {
  color: #031F4F;
  text-decoration: none;
}

.grid-container .ventanas {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-container .ventanas .ventana_emergente {
  background-color: white;
  width: 600px;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.grid-container .ventanas .ventana_emergente form input, .grid-container .ventanas .ventana_emergente form select {
  width: 100%;
  margin: 10px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #BBBBBB;
}

.grid-container .ventanas .ventana_emergente form button {
  margin: 10px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: 1px #031F4F;
  color: #031F4F;
  border-radius: 3px;
  cursor: pointer;
}

.grid-container .ventanas .ventana_emergente form button:hover {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #031F4F;
  color: white;
}

.grid-container .ventanas .ventana_emergente form .resultado {
  border: 1px black solid;
  margin: 10px;
  font: normal 16px "BIZ UDPMincho", serif;
  width: 400px;
  height: 100px;
}

.grid-container .ventanas .ventana_emergente .cerrar {
  border-radius: 3px;
  border: none;
  width: 50px;
  height: 40px;
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: center;
  color: #031F4F;
}

.grid-container .ventanas .ventana_emergente .cerrar:hover {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: rgba(255, 0, 0, 0.3);
}

.grid-container .mostrar {
  visibility: visible;
  -webkit-transition: 3s ease;
  transition: 3s ease;
}

.grid-container .encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: white;
  border: solid #031F4F 2px;
}

.grid-container .encabezado #logo {
  width: 150px;
  height: 150px;
}

.grid-container .encabezado .titulo_biblioteca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #031F4F;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 1px 3px #031F4F;
  width: 800px;
  height: 150px;
  background-color: white;
}

.grid-container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grid-container .main .seccion1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  padding: 30px;
}

.grid-container .main .seccion1 #explorar {
  color: #031F4F;
  margin: 15px;
  font-size: 30px;
  font-weight: 800;
  background-color: white;
  text-shadow: 0 0 2px #031F4F;
}

.grid-container .main .seccion1 .estanteria {
  margin: 10px;
  border: solid 2px #031F4F;
  width: 200px;
  height: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-box-shadow: -2px 2px 5px black;
          box-shadow: -2px 2px 5px black;
}

.grid-container .main .seccion1 #filtro {
  font: normal 16px "BIZ UDPMincho", serif;
  color: #031F4F;
}

.grid-container .main .seccion1 #filtro:hover {
  background-color: #031F4F;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.grid-container .main .seccion1 #filtro:active {
  background-color: white;
  color: #031F4F;
  font-size: 115%;
}

.grid-container .main .seccion2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.grid-container .main .seccion2 .pasos {
  margin: 10px;
  padding: 20px;
  width: 200px;
  height: 30px;
  border: solid 2px #031F4F;
  border-radius: 40px;
  background-color: white;
  color: #031F4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -2px 2px 5px black;
          box-shadow: -2px 2px 5px black;
}

.grid-container .main .seccion2 .pasos:hover {
  background-color: #031F4F;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.grid-container .main .seccion2 .pasos:active {
  background-color: white;
  color: #031F4F;
  font-size: 115%;
}

.grid-container .main .seccion2 #instrucciones {
  background-color: white;
  margin: 10px;
  padding: 20px;
  width: 50%;
  font-style: italic;
  font-size: 14px;
  border: #031F4F 2px dashed;
}

.grid-container .pie {
  color: #031F4F;
  text-align: center;
  padding: 20px;
  margin: 0px;
  background-color: white;
  border: 1px solid #031F4F;
}

.grid-container .pie .evita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin: 5px;
}

.grid-container .pie .evita #evita_name {
  margin: 10px;
}

.grid-container .pie #github {
  list-style: none;
  text-decoration: none;
}

.grid-container .pie #github #niello {
  font-style: italic;
  color: #031F4F;
}
/*# sourceMappingURL=style.css.map */